.loginDetails{
    width: 50%;
    margin: auto;
    padding: 10px;
  }
  
  .userName{
    justify-content: center;
    align-items: center;
  }
  
  .loginTitle{
    background-color: whitesmoke;
    margin-bottom: 0cm;
  } 