body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://cdn1.vectorstock.com/i/1000x1000/78/50/cinema-pattern-seamless-background-with-symbols-vector-22367850.jpg");
  background-size: contain;
  background-repeat: repeat;
}

/*App.js*/
.appHeader {
  border-radius: 50%;
  height: 150px; 
  width: 150px; 
  background: black;
  color: white;
  margin-left: 50%;
  margin-right: 50%;
} 

/*Login*/
.loginDetails{
  width: 50%;
  margin: auto;
  padding: 10px;
}

.userName{
  justify-content: center;
  align-items: center;
}

.loginTitle{
  background-color: whitesmoke;
  margin-bottom: 0cm;
} 

/*MovieCard*/
.wrapper{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 33%);
  grid-auto-rows: auto;
}

.movieCard {
  width: 8cm;
  padding: 50px;
  margin-right: 20px;
  background-color: black;
  color: white;
  border-top: 3cm;
  border-bottom: 3cm;
  align-items: center;
  margin-top: 2cm;
}

.filmTitle{
  text-align: center;
}

.moviePoster{
  height: 10cm;
  width: 8cm;
  object-fit: contain;
}

.faveStar{
  display: flex;
  justify-content: center;
  align-items: center;
}

.rmButton{
  display: flex;
  justify-content: center;
  align-items: center;
}

.learnMore{
  text-align: center;
  color: aliceblue;
}

/*MovieProfile*/
.movieInfo{
  background-size: cover;
  color: aliceblue;
  background-color: black;
  display: grid;
  grid-template-columns: auto 1fr;
  margin-top: 1.5cm;
}

.movieInfo img {
  grid-column: 1;
  height: 10cm;
  width: 7.5cm;
}

.movieInfo .profileInfo {
  grid-column: 2;
}

.filmTitle{
  align-items: center;
}

.filmBio{
  text-align: center;
}

.homeButton{
  color: greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.5cm;
}

.filmYear{
  display: flex;
  justify-content: center;
  align-items: center;
}

.filmLength{
  display: flex;
  justify-content: center;
  align-items: center;
}

.filmDirector{
  display: flex;
  justify-content: center;
  align-items: center;
}

.filmActors{
  display: flex;
  justify-content: center;
  align-items: center;
}

.filmGenre{
  display: flex;
  justify-content: center;
  align-items: center;
}

.movieInfo .profileInfo {
  grid-column: 2;
}

/*AddNewFilm*/
/* .newFilmDetails{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 23%);
  grid-auto-rows: auto;
  justify-content: center;
  align-items: center;
  background-color: blue;
  border-top: 0cm;
}

.addButton{
  width:10cm;
  margin-left: 0%;
  margin-bottom: 1.5cm;
}

.newFilmTitle{
  background-color: aliceblue;
  border-bottom: 0cm;
  border-top: 0cm;
}

.inputBox{
  width: 7cm;
} */

/*Home*/
/* .filterMenu{
  margin-top: 0.75cm;
  border-style: groove;
  margin-left: 0.5cm;
  width: 7cm;
  background-color: tomato;
}

.filmSearch{
  width: 5.2cm;
}

.genreFilter{
  width: 5.2cm;
} */

/* .filterYear{
  width: 5.2cm;
} */

/* .faveFilter{
  width: 5.2cm;
} */

/* ErrorPage
.errorMessage{
  color: white;
}  */

